<ng-include src="'partials/navbar.html'"></ng-include>
<div class="container">
    <div class="hero-unit">
        <h1>Create a Venue</h1>
    </div>
    <form>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Name">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Phone">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Street Number & Street">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="City" value="San Diego">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="State" value="California">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Zipcode">
        </div>

        <!-- File upload -->
        <div id="filedrag" class="well well-large">
          <p>Drag and drop images</p>
        </div>
        <button id="create-venue" class="btn btn-primary">Create Venue</button>
        <a class="btn btn-default" href="/#/venues"> Back</a>
    </form>
</div>