<div class="navbar navbar-fixed-top">
    <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">HIT</a>
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ currentUser.displayname || currentUser.username || 'Unknown User' }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#" ng-click="logout()">Log out</a></li>
              <li ng-show="isAdmin"><a href="/#/venues/create">Create a venue</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
</div>