<div class="form-signin">
    <form ng-show="!success" novalidate name="resetForm" class="form-signin">
        <h2 class="form-signin-heading">Reset Password</h2>
        <div class="form-group">
            <input name="email" type="email" class="form-control" ng-model="user.email" placeholder="Email address" required>
        </div>
        <div>
            <span class="error" ng-show="resetForm.email.$error.email">Please enter a valid email.</span>
        </div>
        <button class="btn btn-primary" type="submit" ng-click="resetPassword(user)">Reset</button>
        <a class="register-link" href="/#/login">Cancel</a>
    </form>
    <div align=center>
        <span class="error" ng-show="failed != null">{{ failed }}</span>
        <div ng-show="success">
            <span>You will receive an email shortly, once you have reset your password go back to the <a href="/#/login">Login</a> screen.
            </span>
        </div>
    </div>
</div>