<ng-include src="'partials/navbar.html'"></ng-include>
<div class="container">
    <div class="hero-unit">
        <h1>Venues</h1>
    </div>
    <hr>
    <form name="venueSearchForm" class="form-horizontal">
        <i class="icon-search"></i>
        <div class="form-group">
            <div>
                <input class="form-control" id="venue-search-input" ng-model="searchtext" ng-change="search(searchtext)" type="text" placeholder="Search">
            </div>
        </div>
        <div class="alert alert-info" ng-show="!searching && searchtext.length > 0 && venues.length == 0">No results were found.</div>
        <div class="alert alert-danger" ng-show="error">There was an error performing the search, please refresh the page and try again.</div>
    </form>
    <div align=center ng-show="searching">
        <img src="img/anim-large-circle.gif"></img>
    </div>
    <ul id="venue-list">
        <li ng-repeat="venue in venues">
            <div class="well well-large">
                <p class="help-inline venue-list-name">{{ venue.name }}</p>
                <a href="/#/venues/{{ venue._parseVenue.id }}" class="btn btn-primary">View</a>
            </div>
        </li>
    </ul>
</div>